#datepicker-container {
	text-align: center;
}

#datepicker {
	font-size: 1.2em;
	padding-top: 2em;
	display: inline-block;
	margin: 0 auto;
}

.highlight {
	background: red;
}

.highlight a {
	background: red;
}

td.highlight { 
	border: none !important;
	padding: 1px 0 1px 1px !important;
	background: none !important;
	overflow:hidden;
}

td.highlight a {
	background: #99dd73 url(bg.png) 50% 50% repeat-x !important; 
	border: 1px #88a276 solid !important;
}