#footerNav {
	box-shadow: 0px -2px 1px #000000;
}

.footerElement {
	display: inline-block;
	border: 0px solid;
	border-color: gray;
	padding: 0px;
	text-align: center;
	max-width: 20%;
	/*background: #6EFF4C;*/
}

#footerNav > div > div:nth-child(1) > a {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
}


#footerNav > div > div:nth-child(odd) > a > p {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 4px;
	margin-right: 4px;
}

#footerNav > div > div:nth-child(even) > a > p {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 4px;
	margin-right: 4px;
}

.footerButton {
	padding-top: 8%;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 8%; 
	margin: 0px;
}