body {
	height: 100%;
}

div.container {
	padding: 0px;
}

.navbar {
	min-height: 20px;
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;	
}

.navbar-header {
	text-align: center;
}

.navbar-brand {
	padding: 4px;
	height: 30px;
}

h2.ng-binding {
	margin-top: 0px;
}

#footerDiv {
	background: rgba(0, 0, 0, 0.5);
}

.footerElement {
	border: 1px solid;
	border-color: gray;
	padding: 14px;
	text-align: center;
}

#mainContentDiv {
	min-height: 100%;
}

#ng-viewDiv {
	min-height: 100%;
}

#workout0 {
	background-color: red;
}

#workout01 {
	background-color: blue;
}

span.glyphicon {
	font-size: 1.5em;
}