a:link { 
	color: rgb(51, 51, 51); 
	text-decoration: none;
}
a:visited { 
	color: rgb(51, 51, 51); 
	text-decoration: none;
}
a:hover { 
	color: rgb(51, 51, 51); 
	text-decoration: none;
}
a:active { 
	color: rgb(51, 51, 51); 
	text-decoration: none;
}

body {
	height: 100%;
}

div.container {
	padding: 0px;
}

.navbar {
	min-height: 20px;
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;	
}

.navbar-header {
	text-align: center;
	/*background-color: #6EFF4C;*/
}

.navbar-brand {
	padding: 4px;
	height: 30px;
}

h2.ng-binding {
	margin-top: 0px;
}

.col-xs-3.footerElement {
	border: 0px solid;
	border-color: gray;
	padding: 0px;
	text-align: center;
	/*background: #6EFF4C;*/
}

.footerText {
	font-size: 0.7em;
	margin: 0px;
}

.footerButton {
	padding-top: 8%;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 8%; 
	margin: 0px;
}

#mainContentDiv {
	min-height: 100%;
}

div#ng-viewDiv.ng-scope {
	min-height: 100%;
}

#sessionTimeDiv {
	text-align: center;
	color: #ff6d00;
}

#workout0 {
	text-align: center;
}

#workout0Title {
	padding-top: 15%;
	padding-bottom: 10%;
}

#workoutChooserDiv {

}

#workout01TitleBar {
	text-align: center;
}	

.workoutChooserBtn {
	margin-top: 10%;
	margin-bottom: 8%;
}

#workout01Sets {
	text-align: center;
}

#workoutTypeText {
	padding-left: 10%;
	font-size: 1.4em; 
	max-width: 60%; 
	float:left; 
	padding-top:0%;
}

#workout01Sets > table {
	margin-bottom: 5px;
}

.setRemoveButton {
	padding: 0px;
	margin: 0px;
}

.btn-primary.btn-flat:not(.btn-link) {
	color: red;
}

.buttonSetter{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 25%;
	padding-right: 25%;
}

#setSetterRow {
	padding: 0px;
}

#setSetterHeader {
	margin: 0px;
}

#setSetterTd {
	padding-top: 0px;
	padding-bottom: 0px;
}

#repKgSetterTable {
	margin-bottom: 5%;
	text-align: center;
}

.workoutLowerButtons {
	margin: 0px;
}

.kgRepInput {
	display:inline-block;
	text-align: center;
	max-width: 25%;
}

#workoutButtons {
	position: fixed;
	bottom: 10%;
	z-index: 100;
	padding-top: 4%;


	background: rgba(246,41,14,0.82);
	background: -moz-linear-gradient(top, rgba(246,41,14,0.82) 0%, rgba(237,237,237,0.82) 0%, rgba(240,50,25,0.82) 0%, rgba(237,237,237,0.82) 0%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,41,14,0.82)), color-stop(0%, rgba(237,237,237,0.82)), color-stop(0%, rgba(240,50,25,0.82)), color-stop(0%, rgba(237,237,237,0.82)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(246,41,14,0.82) 0%, rgba(237,237,237,0.82) 0%, rgba(240,50,25,0.82) 0%, rgba(237,237,237,0.82) 0%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(246,41,14,0.82) 0%, rgba(237,237,237,0.82) 0%, rgba(240,50,25,0.82) 0%, rgba(237,237,237,0.82) 0%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(246,41,14,0.82) 0%, rgba(237,237,237,0.82) 0%, rgba(240,50,25,0.82) 0%, rgba(237,237,237,0.82) 0%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(246,41,14,0.82) 0%, rgba(237,237,237,0.82) 0%, rgba(240,50,25,0.82) 0%, rgba(237,237,237,0.82) 0%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290e', endColorstr='#ededed', GradientType=0 );
}

span.glyphicon {
	font-size: 1.5em;
}

#addGlyphicon {
	font-size: 1.3em;
	float:right;
	z-index: 100;
}

#workout01AddSetSettings > div > div > div {
	min-height: 150px;
}