<!DOCTYPE html>
<html ng-app="workoutApp">


<head>
  <title>hello node</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- GULP BUILD CSS FILES -->
  <link rel="stylesheet" type="text/css" href="../dist/all.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>


<body>

  <!-- TOP NAVBAR -->
  <div id="navbarDiv">
    <nav id="navNav" class="navbar navbar-default" role="navigation">
       <div class="navbar-header">

          <h5>GYM WORKOUT LOGGER</h5>
       </div>
    </nav>

  </div>


  <!-- DYNAMIC ANGULAR VIEWS -->
  <div id="mainContentDiv">
    <div id="ng-viewDiv" ng-view>

    </div>
  </div>

  <!-- FOOTER BUTTONS -->
  <div id="footerDiv" class="container footerDivClass">
    <nav id="footerNav" class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
          <div class="footerElement" >
              <a class="btn btn-primary footerButton" href="#mainpage"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><p class="footerText" style="font-size:0.8em; padding-right: 5px;">Home</p><div class="ripple-wrapper"></div></a>
            </div>
            <div class="footerElement" >
              <a class="btn btn-primary footerButton" href="#workout0"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><p class="footerText" style="font-size:0.8em;">Workout</p><div class="ripple-wrapper"></div></a>
            </div>
            <div class="footerElement" >
              <a class="btn btn-primary footerButton" href="#calendar"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><p class="footerText" style="font-size:0.8em;">Calendar</p><div class="ripple-wrapper"></div></a>
            </div>
            <div class="footerElement" >
              <a class="btn btn-primary footerButton" href="#calculator"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span><p class="footerText" style="font-size:0.8em;">Calculate</p><div class="ripple-wrapper"></div></a>
            </div>
            <div class="footerElement" >
              <a class="btn btn-primary footerButton" href="#profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><p class="footerText" style="font-size:0.8em;">Profile</p><div class="ripple-wrapper"></div></a>
            </div>
        </div>
    </nav>

</div>

<!-- GULP BUILD JAVASCRIPT FILES -->
<script type="text/javascript" src="../dist/all.js"></script>
  
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
<!-- AM CHART JAVASCRIPT FILES -->
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>

</body>
</html>