<!DOCTYPE html>
<html ng-app="workoutApp">
<head>
  <title>hello node</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-material-design/dist/css/ripples.min.css">
  <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-material-design/dist/css/material-wfont.min.css">

  <!-- <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../Css/gymtheme.css">
</head>
<body>
  <div id="navbarDiv">
    <nav id="navNav" class="navbar navbar-default" role="navigation">
       <div class="navbar-header">

          <h5>GYM WORKOUT LOGGER</h5>
       </div>
    </nav>

  </div>

  <div id="mainContentDiv">
    <div id="ng-viewDiv" ng-view>

    </div>
  </div>

  <div id="footerDiv" class="container footerDivClass">
    <nav id="footerNav" class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
          <div class="footerElement" >
              <a class="btn btn-primary footerButton" href="#mainpage"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><p class="footerText" style="font-size:0.8em; padding-right: 5px;">Home</p><div class="ripple-wrapper"></div></a>
            </div>
            <div class="footerElement" >
              <a class="btn btn-primary footerButton" href="#workout0"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><p class="footerText" style="font-size:0.8em;">Workout</p><div class="ripple-wrapper"></div></a>
            </div>
            <div class="footerElement" >
              <a class="btn btn-primary footerButton" href="#workout01"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><p class="footerText" style="font-size:0.8em;">Calendar</p><div class="ripple-wrapper"></div></a>
            </div>
            <div class="footerElement" >
              <a class="btn btn-primary footerButton" href="#workout01"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span><p class="footerText" style="font-size:0.8em;">Calculate</p><div class="ripple-wrapper"></div></a>
            </div>
            <div class="footerElement" >
              <a class="btn btn-primary footerButton" href="#workout01"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><p class="footerText" style="font-size:0.8em;">Profile</p><div class="ripple-wrapper"></div></a>
            </div>
        </div>
    </nav>
</div>

  <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
  <script type="text/javascript" src="../bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="../bower_components/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="../Angular/angularViews.js"></script>
  <script type="text/javascript" src="../javascript/workoutScript.js"></script>

  <script type="text/javascript">

  function noUiLoader() {
    $.material.init();
    $(".svert").noUiSlider({
      orientation: "vertical",
      start: 40,
      connect: "lower",
      range: {
        min: 0,
        max: 100
      }
    });
  };


  $(document).ready(function () {

    var windowHeight = window.innerHeight;
    var body = $(document.body);
    body.css("height", windowHeight-40);
    console.log(windowHeight);

    var navbarHeight = $('#navNav').height();
    var footerHeight = $('#footerNav').height();
    var workoutPagesHeight = windowHeight - navbarHeight - footerHeight;
    console.log(workoutPagesHeight);
    var workout0 = $('#workout0').height();
    console.log(workout0);

  });

  </script>
</body>
</html>