<!DOCTYPE html>
<html>
<head>
	<title>hello node</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">
		<h1>Hello EJS</h1>

		<button id="user_button">Get da users</button>

		<ul id="users">
		</ul>

	</div>

	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$('#user_button').on('click', function () {
			$.ajax({
			  url: '/user/all',
			  success: function (data) {
			  	var users = JSON.parse(data);

			  	for (var i = 0; i < users.length; i++) {
			  		$('#users').append('<li>' + (users[i]).name + '</li>');
			  	}
			  }
			});

		});

	</script>
</body>
</html>