<!DOCTYPE html>
<html>
<head>
	<title>hello node</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">

		<h1>Hello EJS</h1>

		<button id="user_button" type="button" class="btn btn-default">Kik vannak a kocsmában?</button>
		<div>
			<br/>
			<ul id="users" class="list-group">
			</ul>			
		</div>

	</div>

	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript">

		$(document).ready(function () {

			$('#user_button').on('click', function () {
				$.ajax({
					url: '/user/all',
					success: function (data) {
						users = data;

						for (var i = 0; i < users.length; i++) {
							$('#users').append('<li class="list-group-item">' + (users[i]).name + '</li>');
						}
					}
				});
			});

		});

	</script>
</body>
</html>