<div id="workout01">
	<div id="workout01TitleBar" class="col-xs-12">
		<h4> {{ title }} <span id="addGlyphicon" class="glyphicon glyphicon-plus" aria-hidden="true"></span></h4>
	</div>

	<div id="workout01Sets" class="col-xs-12">
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<td>SETS</td>
					<td>REPSxKGs</td>
					<td>REMOVE</td>
				</tr>	
			</thead>
			<tbody>
				<tr>
					<td>1. SET</td>
					<td>60x12</td>
					<td> - </td>
				</tr>
				<tr>
					<td>2. SET</td>
					<td>80x10</td>
					<td> - </td>
				</tr>
				<tr>
					<td>3. SET</td>
					<td>90x8</td>
					<td> - </td>
				</tr>
				<tr>
					<td>4. SET</td>
					<td>100x6</td>
					<td> - </td>
				</tr>
				<tr>
					<td>5. SET</td>
					<td>110x4</td>
					<td> - </td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="workout01AddSetSettings" class="col-xs-12">
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<td><h5 id="setSetterHeader">KGs</h5></td><td><h5 id="setSetterHeader">SETs</h5></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><h4><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></h4></td>
					<td><h4><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></h4></td>
				</tr>
				<tr>
					<td id="setSetterRow"><h4>80</h4></td>
					<td id="setSetterRow"><h4>12</h4></td>
				</tr>
				<tr>
					<td><h4><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></h4></td>
					<td><h4><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></h4></td>
				</tr>
			</tbody>	
		</table>
	</div>
</div>